body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px 64px;
}

.link-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

.header-link:hover {
  font-weight: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 48px 150px;
  gap: 48px;
}

.hero-text h1 {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
}

.hero-placeholder {
  width: 750px;
  height: 230px;
  background-color: #fca311;
  flex: 1 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-style: none;
  border-radius: .5em;
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 1.5em;
  margin-top: auto;
}

footer div {
  margin-left: auto;
}

footer a {
  margin-left: auto;

}

.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 0;
}

.information {
  padding: 48px 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.info-layout {
  display: flex;
  gap: 16px;

  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.placeholder{
  width: 160px;
  height: 160px;
  background-color: #f9faf8;
  border: solid #3882f6 2px;
  border-radius: 1em;
}

.card p{
  width: 180px;
  height: auto;
}


.quote {
  font-size: 36px;
  font-weight: lighter;
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 64px 250px;
}

.quote .character {
  font-size: 24px;
  font-weight: 1000;
  margin: 8px 100px 8px auto;
}

.action {
  background-color: #3882f6;
  padding: 16px 96px;
  display: flex;
  margin: 64px 150px;
  border-style: none;
  border-radius: .25em;
  align-items: center;
  color: #e5e7eb;
}

.action button {
  margin-left: auto;
  background-color:#3882f6;
  border: solid #e5e7eb 2px;
  border-radius: .5em;
  padding: 12px 36px;
  color:#e5e7eb;
  font-weight: bold;
}

.action button:hover {
  background-color: #59a2f5;
}