body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px 64px;
}

.link-menu {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  padding: 48px 200px;
}

.hero-text h1 {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 2em;
  margin-top: auto;
}

.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 0;
}

.information {
  padding: 48px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.info-layout {
  display: flex;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 64px 200px;
}

.quote .character {
  font-size: 24px;
  font-weight: 1000;
  margin: 8px 100px 8px auto;
}